body {
	background-image: url("img/фон-для-сайта.jpg");
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	background-repeat: no-repeat;
	background-size: cover;
}

.menu *{
	margin: 0;
	padding: 0;
	
}

.menu {
	background: #4c4c4c;
background: -moz-linear-gradient(top, #4c4c4c 6%, #595959 20%, #666666 23%, #666666 32%, #474747 45%, #2c2c2c 66%, #2b2b2b 70%, #2b2b2b 70%, #1c1c1c 79%, #111111 90%, #111111 90%, #131313 100%);
background: -webkit-linear-gradient(top, #4c4c4c 6%,#595959 20%,#666666 23%,#666666 32%,#474747 45%,#2c2c2c 66%,#2b2b2b 70%,#2b2b2b 70%,#1c1c1c 79%,#111111 90%,#111111 90%,#131313 100%);
background: linear-gradient(to bottom, #4c4c4c 6%,#595959 20%,#666666 23%,#666666 32%,#474747 45%,#2c2c2c 66%,#2b2b2b 70%,#2b2b2b 70%,#1c1c1c 79%,#111111 90%,#111111 90%,#131313 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
	display: flex;
	justify-content: space-around;
	height: 56px;
}

.btn-menu {
	width: 56px;
    height: 40px;
    cursor: pointer;
    font-size: 21px;
}

.margin {
	font-size: 21px;
	text-decoration: none;
	color: #fff;
	margin-top: 15px;
}

.btn-menu{
	margin-top: 8px; 
	background: #4c4c4c;
background: -moz-linear-gradient(top, #4c4c4c 6%, #595959 20%, #666666 23%, #666666 32%, #474747 45%, #2c2c2c 66%, #2b2b2b 70%, #2b2b2b 70%, #1c1c1c 79%, #111111 90%, #111111 90%, #131313 100%);
background: -webkit-linear-gradient(top, #4c4c4c 6%,#595959 20%,#666666 23%,#666666 32%,#474747 45%,#2c2c2c 66%,#2b2b2b 70%,#2b2b2b 70%,#1c1c1c 79%,#111111 90%,#111111 90%,#131313 100%);
background: linear-gradient(to bottom, #4c4c4c 6%,#595959 20%,#666666 23%,#666666 32%,#474747 45%,#2c2c2c 66%,#2b2b2b 70%,#2b2b2b 70%,#1c1c1c 79%,#111111 90%,#111111 90%,#131313 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
	border: 1px solid;
	border-color: grey;
	box-shadow: 0 0 15px black;
	border-radius: 5px;
}

.fa-camera{
	position: relative;
	right: 12px;
	font-size: 20px;
}

.fa-bars{
	position: relative;
	color: grey;
}

.btn-menu:hover{
	background: #f1dcdc;
}

.container_one {
	text-align: center; 
}

.section_one {
	
	font-size: 40px;
	margin-top: 7%;
}

.flex_two {
	display: flex;
	justify-content: center;
	margin-bottom: 8px;
}

.section_two {
	display: block;
	margin: 0;
	font-size: 21px;
	text-align: center;
	color: #6c757d;
	overflow: auto;
	width: 600px;
	margin-right: 10%;
	margin-left: 10%;
}

.btn_o {
	height: 38px;
	width: 155px;
	margin-top: 8px;
	border: 0 ;
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
}

.btn_o:hover{
	background: #f1dcdc;
	color: #000;
}

.btn_one {
	background-color: #007bff;
	margin-top: 16px;
}

.btn_two {
	background-color: #6c757d;
}

.card_all {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
	justify-items: center;
	padding: 7% 0 7% 0;
	margin-right: 20%;
	margin-left: 20%;
}

.grid_one img {
	width: 100%;
}

.card_one_all {
	background-color: #fff;
	border-radius: 5px; 
	box-shadow: 0 0 10px grey;
}

.img_th {
	border-radius: 5px 5px 0 0;
}

.card_text {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
	color: #6c757d;
}

.btn_card_v {
	height: 31px;
	width: 47px;
	border: 1px solid #6c757d;
	border-radius: 3px 0 0 3px;
}

.btn_card_e {
	width: 41px;	
	height: 31px;
	border-left: none;
	border-top: 1px solid #6c757d;
	border-bottom: 1px solid #6c757d;
	border-right: 1px solid #6c757d;
	border-radius: 0 3px 3px 0;

}

.btn_group {
	display: flex;
	justify-content: flex-start;
}

.btn_card {
	cursor: pointer;
	background-color: #fff;
	margin-bottom: 20px;
	color: #6c757d;
}

.btn_card:hover{
	background: #55595c;
	color: #fff;
}

.min {
    color: #6c757d;
    margin-bottom: 15px;
    font-size: 12px;
}

.btn_mins {
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px 0 20px;
}

.card_body {
	margin-top: 0;
}

.card_text {
	background-color: #fff;
}

.foot_one {
	color: #6c757d;
	font-size: 18px;
}

.foot_all {
	display: flex;
	justify-content: space-around;
	flex-flow: row;
	padding-right: 10%;
	padding-left: 10%;
}

.foot_back{
	text-decoration: none;
}

.foot_back:hover {
	text-decoration: underline;
	color: #6f42c1;
}

.foot_text {
	margin-top: 0;
}
